/* styles in src/style directory are applied to the whole page */
body {
  background-color: #0147A7;
  color: #fff;
}

a {
  color: #03A9F4;
}

/*!*Materialize overrides*!*/

.card .card-content p, .card .card-reveal p {
  color: black;
}

nav.custom-nav {
  background-color: #0147A7;
}
